// fonts

$monte: 'Montserrat', sans-serif;

$medium: 500;
$bold: 600;
$extrabold: 800;


//colors

$yelloworange: #FFF300;
$blacklight: #353534;
$red: #E92F03;
$white: #FFFFFF;
$gray: #F2F2F2;


// media

$layout-breakpoint: 1600px;