// fonts

$monte: 'Montserrat', sans-serif;
$roboto: 'Roboto',sans-serif;


$medium: 500;
$bold: 600;
$extrabold: 800;


//colors

$yelloworange: #FFF300;
$blacklight: #353534;
$blacksecond: #323232;
$red: #E92F03;
$white: #FFFFFF;
$gray: #F2F2F2;
$graysecond: #838383;


// media

$layout-breakpoint-big: 1600px;
$layout-break-medium: 1150px;
$layout-break-tablet: 768px;
$layout-break-mobile: 668px;
$layout-break-mobile_mini: 468px;