@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header {
  display: grid;
  grid-template-columns: 51px 188px auto 742px 31px;
  position: fixed;
  background-color: #FFF300;
  height: 120px;
  top: 0;
  left: 0;
  right: 0;
}

.header__img {
  grid-column-start: 2;
  align-self: center;
}

.header__nav {
  display: flex;
  grid-column-start: 4;
  justify-content: space-between;
  align-items: center;
}
.header__nav__list {
  grid-column-start: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 518px;
  text-decoration: none;
}
.header__nav__list__element {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: #353534;
}
.header__nav__list__element:hover {
  font-weight: 800;
}
.header__nav__button {
  width: 180px;
  height: 50px;
  background-color: #E92F03;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 15px;
  letter-spacing: 0;
  border: none;
  cursor: pointer;
}
.header__nav__button:hover {
  font-weight: 800;
}

@media (min-width: 1600px) {
  .header {
    grid-template-columns: 51px 188px 902px 742px 31px;
  }
}
.top_section {
  display: flex;
  flex-direction: column;
}

.section_image {
  width: 100vw;
}

.bcgimage {
  background-image: url("/images/abstract.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.bcgimage__content {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 313px 760px 360px 220px auto;
  grid-template-rows: 290px 137px 170px 14px 60px;
}
.bcgimage__content__top_text {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 137px;
  width: 754px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -1px;
}
.bcgimage__content__ground_text {
  grid-column-start: 2;
  grid-row-start: 4;
  place-self: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.bcgimage__content__image {
  grid-column-start: 4;
  grid-row-start: 2;
  margin-top: -50px;
}

.main_container {
  width: 1130px;
  margin: 0 auto;
}
.main_container__first_section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px auto 30px 30px 50px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  height: 200px;
  background-color: #F2F2F2;
}
.main_container__first_section__employees {
  grid-column-start: 2;
  grid-row-start: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.main_container__first_section__employees_num {
  grid-column-start: 2;
  grid-row-start: 4;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.main_container__first_section__year_of_establishment {
  grid-column-start: 6;
  grid-row-start: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.main_container__first_section__2017 {
  grid-column-start: 6;
  grid-row-start: 4;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.main_container__first_section__industry {
  grid-column-start: 9;
  grid-row-start: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.main_container__first_section__it {
  grid-column-start: 9;
  grid-column-end: span 11;
  grid-row-start: 4;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.main_container__second_section {
  height: 712px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px 15px 60px 40px 90px 14px 30px 80px 220px;
  grid-column-gap: 8px;
}
.main_container__second_section__services {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 14x;
  font-weight: 500;
  letter-spacing: 0;
}
.main_container__second_section__tech_house {
  grid-column-start: 3;
  grid-column-end: span 9;
  grid-row-start: 4;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
}
.main_container__second_section__technology {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 6;
  font-family: "Montserrat", sans-serif;
  font-size: 14x;
  font-weight: 500;
  letter-spacing: 0;
}
.main_container__second_section__logos {
  grid-column-start: 3;
  grid-column-end: span 8;
  grid-row-start: 8;
  display: flex;
  justify-content: space-between;
}
.main_container__lorem_section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
}
.main_container__lorem_section__container {
  width: 470px;
  height: 470px;
  grid-column-start: 1;
  grid-column-end: span 5;
}
.main_container__lorem_section__container__ceo {
  height: 420px;
  width: 370px;
  background-color: #F2F2F2;
  margin-top: 10px;
  margin-left: 30px;
}/*# sourceMappingURL=style.css.map */